
<div id="main-home">
    <h2>About me</h2>
    <div class="about-me">
        <div class="about-me-description">
            <p>Hi, I'm Ella. I'm a software engineer currently working at Morgan Stanley, and graduated from the University of Warwick in 2024.</p>
            <p>I'm looking to branch out more into technical theatre. I have experience with the groups: Warwick Tech Crew, Sedos and SLP, primarily in lighting design and management.</p>
        </div>
        <div class="about-me-picture">
            <img class="profile-image" src="assets/magnus-1.jpg" width="300" alt="Picture of my cat">
        </div>
        <img class="profile-image-2" src="assets/magnus.jpg" width="300" alt="Picture of my cat">
    </div>
    
</div>