<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portfolio Website</title>
  <base href="/">
</head>
<body>
  <!-- Want tabs for projects and theatre I think - or maybe all on same page for now -->
   <!-- Tabs to take you to point on page for each section -->
    <!-- Do I want a CV on here? I don't know what I might put on the front page tbh -->
    <app-dashboard></app-dashboard>
    <app-main></app-main>
    <app-projects></app-projects>
    <app-theatre></app-theatre>
    <footer></footer>
</body>
</html>