.company-card {
    max-width: 300px;
    color: black;
    margin-right: 10px;
    box-shadow: 3px 3px rgb(220, 219, 219);
}

.fame-card {
    max-width: 300px;
    color: black;
    margin-right: 10px;
    box-shadow: 3px 3px rgb(220, 219, 219);
}

.legally-card {
    max-width: 300px;
    color: black;
    margin-right: 10px;
    box-shadow: 3px 3px rgb(220, 219, 219);
}

.location {
    max-width: 25px;
}

.role {
    max-width: 25px;
}

.theatre-shows-worked-list {
    display: flex;
    flex-wrap: wrap;
}

/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    size: 200px;
} */
 /* this part of css is for mini icon */