
<div id="theatre">
    <div class="theatre-shows-worked">
        <h2>Technical Theatre Roles and Shows</h2>
        <p>During my time at university, I got involved in the world of technical theatre. During this time I worked on multiple different shows with <a href="https://www.warwicktechcrew.co.uk/" target="_blank">Warwick Tech Crew</a></p>
        <p>Here, I'd like to reflect on shows I worked on both during my time at university and afterwards.</p>
        <div class="theatre-shows-worked-list">
            <mat-card class="company-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Company</mat-card-title>
                    <mat-card-subtitle>The Musical</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/company-kishansharma.jpg" alt="Photo by Kishan Sharma">
                <mat-card-content>
                    <p><img class="location" src="assets/icons/location-icon.png" alt="location icon">Warwick Arts Centre</p>
                    <p><img class="role" src="assets/icons/user.png" alt="location icon">Technical Manager</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="fame-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Fame</mat-card-title>
                    <mat-card-subtitle>The Musical</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/fame-adamskrzymowski.jpg" alt="Photo by Adam Skrzymowski">
                <mat-card-content>
                    <p><img class="location" src="assets/icons/location-icon.png" alt="location icon">Warwick Arts Centre</p>
                    <p><img class="role" src="assets/icons/user.png" alt="location icon">Assistant Technical Manager</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="legally-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Legally Blonde</mat-card-title>
                    <mat-card-subtitle>The Musical</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/legally-ellahorne.jpg" alt="Photo by Ella Horne">
                <mat-card-content>
                    <p><img class="location" src="assets/icons/location-icon.png" alt="location icon">Warwick Arts Centre</p>
                    <p><img class="role" src="assets/icons/user.png" alt="location icon">Assistant Lighting Designer</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="theatre-shows-seen">
        <h2>Theatre shows seen</h2>
    </div>
</div>