
<div id="theatre">
    <div class="theatre-shows-worked">
        <h2>Technical Theatre Roles and Shows</h2>
        <p>During my time at university, I got involved in the world of technical theatre. During this time I worked on multiple different shows with <a href="https://www.warwicktechcrew.co.uk/" target="_blank">Warwick Tech Crew</a></p>
        <p>Here, I'd like to reflect on shows I worked on both during my time at university and afterwards.</p>
        <div class="theatre-shows-worked-list">
            <mat-card class="test-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Test</mat-card-title>
                    <mat-card-subtitle>Test</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Some info about a dog ig
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="theatre-shows-seen">
        <h2>Theatre shows seen</h2>
    </div>
</div>