.pageLinks {
    color: rgb(95, 128, 30);
}

.pageLinks:visited {
    color: rgb(95, 128, 30);
}

.pageLinks:hover {
    color: rgb(95, 128, 30);
}

.pageLinks:active {
    color: rgb(95, 128, 30);
}

/* The above doesn't seem to work */

.pageLinks h1 {
    color: rgb(95, 128, 30);
    display: flex;
    justify-content: left;
    align-content: top;
    font-size: 25pt;
}
.pageLinks a {
    color: rgb(95, 128, 30);
    font-size: 15pt;
}

.pageLinks {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: center;
}